html {
    overflow-x: hidden;
}

.tabs {
  width: 100%;
  box-shadow: rgb(170, 170, 170) 0px 0px 0.3rem;
}

.tab {
  width: 33%;
}

.tab .material-icons {
  margin-top: 0.8rem;
}

.container {
  margin-top: 2.5rem;
}

#display button {
  margin: 0.5rem 0;
}

.container button {
  height: 4rem;
}

#move img {
  height: 16rem;
  width: 100%;
  margin-bottom: 1rem;
}
